certifi==2025.4.26
cffi==1.17.1
charset-normalizer==2.0.12
cx-Oracle==8.3.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
ply==3.11
pyasn1==0.6.1
pycparser==2.22
pycryptodomex==3.22.0
pysmi==1.6.1
pysnmp==7.1.20
python-dotenv==1.1.0
requests==2.32.3
urllib3==2.4.0
