certifi==2025.4.26
cffi==1.15.1
charset-normalizer==2.0.12
cx-Oracle==8.3.0
idna==3.10
Jinja2==3.0.3
MarkupSafe==2.0.1
ply==3.11
pyasn1==0.5.1
pycparser==2.21
pycryptodomex==3.21.0
pysmi==0.3.4
pysnmp==4.4.12
python-dotenv==0.20.0
requests==2.27.1
urllib3==1.26.20
